<!DOCTYPE html>
<html lang="en">
<% include ../partials/head.ejs %>

<body data-sa-theme="5">
<% include ../partials/header.ejs %>
<% include ../partials/sidebar.ejs %>

<section class="content">
    <div class="content__inner">
        <header class="content__title">
            <h1><%= i18n.__('MetaTrader Accounts') %></h1>
        </header>

        <div class="card">
            <div class="card-body">
                <div class="tab-container">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#accounts" role="tab"><%= i18n.__('Accounts') %></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#logs" role="tab"><%= i18n.__('Logs') %></a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane  active fade show" id="accounts" role="tabpanel">
                            <div class="py-3 text-right">
                                <button type="button" class="btn btn-success" onclick="addNewMTAccount()">Register New Account</button>
                            </div>
                            <div class="table-responsive data-table">
                                <table id="data-accounts-table" class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th style="color: yellow"><%= i18n.__('Account Number') %></th>
                                        <th style="color: yellow"><%= i18n.__('Broker Name') %></th>
                                        <th style="color: yellow"><%= i18n.__('Platform') %></th>
                                        <th style="color: yellow"><%= i18n.__('Plan') %></th>
                                        <th style="color: yellow;width: 20%;"><%= i18n.__('Creat Date') %></th>
                                        <th style="color: yellow"><%= i18n.__('Status') %></th>
                                        <th style="color: yellow"><%= i18n.__('Performance') %></th>
                                        <th style="color: yellow"><%= i18n.__('ViewLog') %></th>
                                    </tr>
                                    </thead>
                                    <tbody id="mt_accounts_list">
                                    <% for (let i = 0; i < mt_accounts.length; i++) { %>
                                        <%if (mt_accounts[i].status == "Aproved"){%>
                                        <tr style="background: rgba(0,255,0,0.1);">
                                        <%} else if(mt_accounts[i].status == "Blocked") {%>
                                        <tr style="background: rgba(255,0,0,0.1);">
                                        <%} else {%>
                                        <tr>
                                        <%}%>
                                            <td><%= mt_accounts[i].account_number%></td>

                                            <%if (mt_accounts[i].broker){%>
                                            <td><%= mt_accounts[i].broker.server_name%></td>
                                            <%} else {%>
                                            <td></td>
                                            <%}%>

                                            <td><%= mt_accounts[i].platform%></td>

                                            <%if (mt_accounts[i].plan){%>
                                                <td><%= mt_accounts[i].plan.name%></td>
                                            <%} else {%>
                                                <td></td>
                                            <%}%>

                                            <td style="color: greenyellow;"><%= mt_accounts[i].create_date%></td>
                                            <td style="color: greenyellow;"><%= mt_accounts[i].status%></td>
                                            <td><a href="/performance_mt_account?id=<%=mt_accounts[i].id%>" target="_blank"><%= i18n.__('Performance') %></a></td>
                                            <td><a href="/log_mt_account?id=<%=mt_accounts[i].id%>" target="_blank"><%= i18n.__('ViewLog') %></a></td>
                                        </tr>
                                    <% } %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane" id="logs" role="tabpanel">
                            <div class="table-responsive data-table">
                                <table id="data-logs-table" class="table table-bordered text-center">
                                    <thead>
                                    <tr>
                                        <th style="color: yellow">Date/Time</th>
                                        <th style="color: yellow">Account Number</th>
                                        <th style="color: yellow">Broker Name</th>
                                        <th style="color: yellow">Platform</th>
                                        <th style="color: yellow; width: 50%;">Event</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>10/10/2019 - 13:15:07</td>
                                        <td>123123123</td>
                                        <td>MetaQuote-Demo</td>
                                        <td>MT4</td>
                                        <td>That's Good!</td>
                                    </tr>
                                    <tr>
                                        <td>10/10/2019 - 13:15:07</td>
                                        <td>123123123</td>
                                        <td>MetaQuote-Demo</td>
                                        <td>MT4</td>
                                        <td>That's Good!</td>
                                    </tr>
                                    <tr>
                                        <td>10/10/2019 - 13:15:07</td>
                                        <td>123123123</td>
                                        <td>MetaQuote-Demo</td>
                                        <td>MT4</td>
                                        <td>That's Good!</td>
                                    </tr>
                                    <tr>
                                        <td>10/10/2019 - 13:15:07</td>
                                        <td>123123123</td>
                                        <td>MetaQuote-Demo</td>
                                        <td>MT4</td>
                                        <td>That's Good!</td>
                                    </tr>
                                    <tr>
                                        <td>10/10/2019 - 13:15:07</td>
                                        <td>123123123</td>
                                        <td>MetaQuote-Demo</td>
                                        <td>MT4</td>
                                        <td>That's Good!</td>
                                    </tr>
                                    <tr>
                                        <td>10/10/2019 - 13:15:07</td>
                                        <td>123123123</td>
                                        <td>MetaQuote-Demo</td>
                                        <td>MT4</td>
                                        <td>That's Good!</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Add New Account -->
<div class="modal fade" id="modal-new-account" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="modal_account_type" value="">
                <div>
                    <div class="form-group">
                        <label><%= i18n.__('Account Number') %></label>
                        <input type="text" class="form-control" id="account_number" value="" required />
                        <div class="invalid-feedback">Please provide a valid input</div>
                    </div>
                    <div class="form-group">
                        <label><%= i18n.__('Account Password') %></label>
                        <input type="password" class="form-control" id="account_password" value="" required />
                        <div class="invalid-feedback">Please provide a valid input</div>
                    </div>
                    <div class="form-group">
                        <label><%= i18n.__('Server Broker') %></label>
                        <select class="form-control" id="broker_id" style="background: black;" required />
                            <% for (let i = 0; i < brokers.length; i++){%>
                            <option value="<%=brokers[i].id%>"><%=brokers[i].server_name%></option>
                            <%}%>
                        </select>
                        <div class="invalid-feedback">Please provide a valid input</div>
                    </div>
                    <div class="form-group">
                        <label><%= i18n.__('Platform') %></label>
                        <select class="form-control" id="platform" style="background: black;" required />
                            <option>MT4</option>
                            <option>MT5</option>
                        </select>
                        <div class="invalid-feedback">Please provide a valid input</div>
                    </div>
                    <div class="form-group">
                        <label><%= i18n.__('Select Plan') %></label>
                        <select class="form-control" id="plan_id" style="background: black;" required />
                            <% for (let i = 0; i < plans.length; i++){%>
                            <option value="<%=plans[i].id%>"><%=plans[i].name%></option>
                            <%}%>
                        </select>
                        <div class="invalid-feedback">Please provide a valid input</div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link" onclick="submitAddAcount()"><%= i18n.__('Add Account') %></button>
                <button type="button" class="btn btn-link" data-dismiss="modal"><%= i18n.__('Cancel') %></button>
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer.ejs %>
<% include ../partials/foot.ejs %>

<script>
    $(document).ready(function () {
        $("#data-accounts-table").DataTable({
            aaSorting: [],
            autoWidth: !1,
            responsive: !0,
            lengthMenu: [[15, 40, 100, -1], ["15 Rows", "40 Rows", "100 Rows", "Everything"]],
            language: {searchPlaceholder: "Search for records..."},
            sDom: '<"dataTables__top"flB<"dataTables_actions">>rt<"dataTables__bottom"ip><"clear">',
            buttons: [{extend: "excelHtml5", title: "Export Data"}, {extend: "csvHtml5", title: "Export Data"}, {extend: "print", title: "Material Admin"}],
            initComplete: function () {
                let html = '<i class="zwicon-more-h" data-toggle="dropdown"></i>' +
                    '<div class="dropdown-menu dropdown-menu-right">' +
                    // '<a data-table-action="print" class="dropdown-item">Print</a>' +
                    '<a data-table-action="fullscreen" class="dropdown-item">Fullscreen</a>' +
                    // '<a data-table-action="excel" class="dropdown-item">Excel (.xlsx)</a>' +
                    // '<a data-table-action="csv" class="dropdown-item">CSV (.csv)</a>' +
                    '</div>';
                $(".dataTables_actions").html(html)
            }
        });
        $("#data-logs-table").DataTable({
            aaSorting: [],
            autoWidth: !1,
            responsive: !0,
            lengthMenu: [[15, 40, 100, -1], ["15 Rows", "40 Rows", "100 Rows", "Everything"]],
            language: {searchPlaceholder: "Search for records..."},
            sDom: '<"dataTables__top"flB<"dataTables_actions">>rt<"dataTables__bottom"ip><"clear">',
            buttons: [{extend: "excelHtml5", title: "Export Data"}, {extend: "csvHtml5", title: "Export Data"}, {extend: "print", title: "Material Admin"}],
            initComplete: function () {
                let html = '<i class="zwicon-more-h" data-toggle="dropdown"></i>' +
                    '<div class="dropdown-menu dropdown-menu-right">' +
                    // '<a data-table-action="print" class="dropdown-item">Print</a>' +
                    '<a data-table-action="fullscreen" class="dropdown-item">Fullscreen</a>' +
                    // '<a data-table-action="excel" class="dropdown-item">Excel (.xlsx)</a>' +
                    // '<a data-table-action="csv" class="dropdown-item">CSV (.csv)</a>' +
                    '</div>';
                $(".dataTables_actions").html(html)
            }
        });
        $("body").on("click", "[data-table-action]", function (e) {
            e.preventDefault();
            var t = $(this).data("table-action");
            if ("excel" === t && $("#groups-table_wrapper").find(".buttons-excel").click(), "csv" === t && $("#groups-table_wrapper").find(".buttons-csv").click(), "print" === t && $("#groups-table_wrapper").find(".buttons-print").click(), "fullscreen" === t) {
                var a = $(this).closest(".card");
                a.hasClass("card--fullscreen") ? (a.removeClass("card--fullscreen"), $('body').removeClass("data-table-toggled")) : (a.addClass("card--fullscreen"), $('body').addClass("data-table-toggled"))
            }
        });
    });

    function addNewMTAccount() {
        $('#modal-new-account').find('input, select').each(function () {
            if ($(this).prop('required')){
                $(this).removeClass('is-invalid');
            }
        });

        $('.modal-title').html("<%= i18n.__('Add New Account') %>");
        $('#modal-new-account').modal();
    }
    function submitAddAcount() {
        let bValid = true;
        $('#modal-new-account').find('input, select').each(function () {
            if ($(this).prop('required') && ($(this).val()==null || $(this).val()=="")){
                $(this).addClass('is-invalid');
                bValid = false;
            } else {
                $(this).removeClass('is-invalid');
            }
        });
        if (!bValid) return;

        let account_number = $('#account_number').val();
        let account_password = $('#account_password').val();
        let broker_id = $('#broker_id').val();
        let platform = $('#platform').val();
        let plan_id = $('#plan_id').val();

        let url = '/new_mt_account';
        let data = {
            account_number: account_number,
            account_password: account_password,
            broker_id: broker_id,
            platform: platform,
            plan_id: plan_id,
        };
        $.ajax({
            url: url,
            method: 'post',
            data: data,
            success: function (res) {
                if (res.status === 'success') {
                    customAlert(res.message, true);
                    setTimeout(function () {
                        location.reload();
                    }, 500);
                } else customAlert(res.message);
            }
        })
    }
    function performanceAccount(account_id){

    }
</script>
</body>
</html>
